body {
    background-image: url("../_Imagens/_Index.png");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-align: justify;
    position: absolute;
    left: 27%;
    right: 25%;
    top: 50%
}

i {
    font-size: 0.8vw;
}

.git {
    background-image: url("../_Imagens/_Octocat.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 28%;
    right: 25%;
    top: 80%;
}

.git:hover {
    background-image: url("../_Imagens/_OctocatColored.png");
}

.pen {
    background-image: url("../_Imagens/_Pen.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 38%;
    right: 25%;
    top: 80%;
}

.pen:hover {
    background-image: url("../_Imagens/_PenColored.png");
}

.free {
    background-image: url("../_Imagens/_Free.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 48%;
    right: 25%;
    top: 80%;
}

.free:hover {
    background-image: url("../_Imagens/_FreeColored.png");
}

.in {
    background-image: url("../_Imagens/_In.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 58%;
    right: 25%;
    top: 80%;
}

.in:hover {
    background-image: url("../_Imagens/_InColored.png");
}

.face {
    background-image: url("../_Imagens/_Face.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 68%;
    right: 25%;
    top: 80%;
}

.face:hover {
    background-image: url("../_Imagens/_FaceColored.png");
}