body {
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-align: justify;
    position: absolute;
    left: 27%;
    right: 25%;
    top: 50%
}

i {
    font-size: 0.8vw;
}

.git {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_Octocat.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 28%;
    right: 25%;
    top: 80%;
}

.git:hover {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_OctocatColored.png");
}

.pen {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_Pen.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 38%;
    right: 25%;
    top: 80%;
}

.pen:hover {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_PenColored.png");
}

.free {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_Free.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 48%;
    right: 25%;
    top: 80%;
}

.free:hover {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_FreeColored.png");
}

.in {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_In.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 58%;
    right: 25%;
    top: 80%;
}

.in:hover {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_InColored.png");
}

.face {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_Face.png");
    text-indent: -9999%;
    position: absolute;
    height: 10%;
    width: 6%;
    left: 68%;
    right: 25%;
    top: 80%;
}

.face:hover {
    background-image: url("http://ap.imagensbrasil.org/images/2017/12/01/_FaceColored.png");
}